html {
  height: 100%;      /* make the container fill the screen */
  margin: 0;
}
body {
  position: relative;
  height: 100%; margin: 0; text-align: center; font-family: monospace;
}

.audioplayer {
  display: block; width: 398px; max-width: 90vw;
  margin: 5px auto 5px auto;
}

.img-wrap {
  position: relative; display: inline-block; border: 0px solid #F1F3F4;
}



table {
  margin: 0px auto; text-align: left;
  width: 400px;
  height: 525px;
  line-height: 13px; font-size: 13px;
  border-spacing: 0;
  /* display: block; */
  /* outline: 2px solid blue; */
}
.table-wrap {
  width: 400px;
  height: 525px;
  position: relative;   /* anchor for overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 2px solid red; */
}
.table-container {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100vh;           /* full viewport height */
}
.mixtape { border: 0px solid black; }
.mixtape td { padding: 0px; }
td.tl1 { font-size: 12px; }
td.tl2 { font-size: 11px; }
td.tl3 { font-size: 10px; }
td.tl4 { font-size: 9px; }
td.tl5 { font-size: 8px; }
td.blk, tr.blk {
  padding: 0;
  margin: 0;
  background: black;
}
.links { text-shadow: none; }
a { color: white; background: black; text-decoration: none }
a:hover, a:focus { color: white; background: red; }
.overlay {
  position: relative; top: 0px; left: 0px;
  color: black; background: white;
  /* text-shadow:  -1px -1px 0 #fff, 1px -1px 0 #fff, */
  /*               -1px  1px 0 #fff, 1px  1px 0 #fff; */
  /*pointer-events: none;*/
}

.player {
  background: #F1F3F4; border: 1px solid #F1F3F4;
  width: 395px; margin: 0 auto;
}

.toggle-text { visibility: hidden; }
.toggle-text:target { visibility: visible; }


.ascii {
  display: inline-block;
  font-family: monospace;
  font-size: 13px;
  line-height: 13px;
  background: black;
  white-space: pre;
}





.hl {
  position: absolute;
  background: black;
  color: white;
  text-decoration: none;
    padding: 0;
  margin: 0;
}

/* Overlay for hover text */
.ol {
  position: absolute;       /* always in same place */
  top: 485px;
  left: 16px;
  color: black;
  background: #F1F3F4;
  text-shadow: none;
  pointer-events: none;
  opacity: 0;
  text-decoration: none;
}

/* Show overlay when hovering the preceding link */
.hl:hover + .ol {
  opacity: 1;
}
